@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes sharte {
    0% {
        text-shadow: 2px 3px 0px #723fff;
        color: white;
    }

    100% {
        text-shadow: 0px 3px 0px #35e060;
        color: white;
    }

}

::selection {
    color: rgb(111, 0, 255);
    background: rgb(0, 255, 213);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: crosshair;
}

body {
    background-color: #111111;
}

h1,
h2,
h3,
p,
a {
    color: white;
    font-family: "Space Mono ", monospace;
    text-decoration: none;
}

a:hover {
    cursor: help;
}


nav {
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-title a {
    color: rgb(17, 17, 17);
    letter-spacing: 5px;
}

.nav-p a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 25vw;
    /*responsive*/
    top: 8px;
}

#page-nav ul li {
    margin: 1rem;
}

.hero-message-container {
    margin: 30vh 5rem;
    margin-bottom: 50vh;
    line-height: 1.5;
}

.topic {
    margin: 10rem auto 1rem auto;
    width: 1300px;
}

.topic h1 {
    padding-left: 40px;
}

.hero-con {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}

.img-con {
    width: 500px;
    height: inherit;
    overflow: hidden;
    border-radius: 15px;
}

img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.text-con {
    background-color: white;
    width: 500px;
    height: inherit;
    border-radius: 15px;
}

.text {
    padding: 1rem;
}

.text h2,
p {
    color: #000;
}

.text p {
    margin-top: 1rem;
}

.link-h2 {
    text-align: center;
    animation-name: sharte;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.link {
    color: white;
}

footer {
    margin: 7.5rem 0 1rem 0;
    text-align: center;
}

footer p {
    color: gray;
}